{% extends 'index.html' %}

{% block content %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter une nouvelle catégorie</h4>
        <form class="forms-sample" method="post" action="{% url 'addCategorie' %}">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputName1">CODE</label>
            <input type="text" class="form-control" id="code" placeholder="Saisir le code" name="code">
          </div>

          <div class="form-group">
            <label for="exampleInputName1">LIBELLE</label>
            <input type="text" class="form-control" id="libelle" name="libelle"  placeholder="Saisir libellé">
          </div>
         

       
          <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
         <br><br>
          {{message}}
        </form>
        <a class="btn btn-dark" href="{% url 'categorie' %}">Retour</a>
      </div>
    </div>
  </div>

{% endblock content %}